
.card{
    height: 530px;
}
.card.body{
    height: 68px;
}
p{
    height: 95px;
}

/* theme dark */
.theme-dark {
    background-color: rgb(39, 29, 29);

}
.theme-dark .card{
    background-color: rgb(155, 121, 121);
    color: rgb(12, 11, 8);
}
.theme-dark button:hover{
    background-color:rgb(63, 46, 46);;
    color: rgb(5, 4, 4);
}
/* theme white */
.theme-white {
    background-color: rgb(217, 228, 158);
    color: rgb(5, 4, 4);

}
.theme-white .card{
    background-color: rgb(122, 128, 90);
    color: orange;
}
.theme-white button:hover{
    background-color:rgb(217, 228, 158);
    ;
    color: rgb(5, 4, 4);;
}

/* theme free */
.theme-free {
    background-color: rgb(226, 141, 219);
    color: rgb(5, 4, 4);

}
.theme-free .card{
    background-color: rgb(23, 135, 139);
    color: rgb(7, 6, 6);
}
.theme-free button:hover{
    background-color:rgb(226, 141, 219);
    color: rgb(5, 4, 4);
    border: none;

}

