body{
    background-color: #9ed4cf;
}

table,td,tr{
    border :2px black solid;
    font-size: 24px;
    padding: 10px;
    background-color: beige;
}
.card{
    border :2px black solid;
    padding: 10px;
    width: auto;
}
table{
    width: auto;
}